body {
    font-family: Roboto, sans-serif;
}

header {
    background: #1f2937;
    color: #fff;
    align-items: center;
    padding: 30px;
}

header .logo {
    font-size: 24px;
    color: #f9faf8;
}

header h2 {
    font-size: 48px;
}

footer {
    background: #1f2937;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 10px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
    padding: 10px;
}

header nav ul li a,
.landing p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.landing-image {
    width: 200px;
    height: 140px;

}

.sign-up-btn {
    background: #3882f6;
    color: #fff;
    border: 1px solid white;
    border-radius: 8px;
    padding: 4px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-items {
    display: flex;
    flex: 1;
    gap: 10px;
    text-align: center;
}

.one {
    border: 0.2em solid blue;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.quote {
    background: #e5e7eb;
    padding: 40px;
    justify-content: center;
    font-size: 18px;
    font-style: italic;
    color: #1f2937;
}

.author {
    float: right;
    font-weight: bold;
}

.sign-up {
    display: flex;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    background: #3882f6;
    color: #fff;
    padding: 15px;
    justify-content: space-evenly;
    width: 70%;
}